:host {
	--dlg-min-width: auto;
	--dlg-min-height: auto;
	
	/* Don't render the component element itself; just its children (i.e., <dialog>) */
	display: contents;
}

dialog {
	/* Ensure that it is fully visible within the viewport. */
	box-sizing: border-box;
	max-width: 100vw;
	max-height: 100vh;
	min-width: min(var(--dlg-min-width), 100vw);
	min-height: min(var(--dlg-min-height), 100vh);
	
	/* Center it in the viewport. */
	margin: auto;
	
	background: Canvas;
	color: CanvasText;
	
	border: 0;
	border-radius: 12px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.22);
}

dialog::backdrop {
	background: color-mix(in oklab, black 30%, transparent);
}
